@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
:root{
    --primary-color:#374151;
    --secondaty-color: #D1D5DB;
    --text-color:#FFFFFF;
    --section-color:
    #F9FAFB;
}
/* common */
.active{
    border-bottom: 2px solid var(--text-color);
    font-weight: bolder;
}
/* Navigation */
.nav-bar{
    background-color:var(--primary-color);
    padding: 0.5rem;
    margin:auto;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius:1rem;
    max-width: 90%;
}
.lists{
    list-style-type: none;
    text-align: right;
}
.list-item{
    display: inline;
    padding: 1rem;
}
.list-item-links{
    text-decoration: none;
    color: var(--text-color);
}
.nav-brand-link{
    text-decoration: none;
    color: var(--text-color);
    font-weight: bolder;
    font-size: larger;
}
.nav-brand{
    display: block;
    padding-left: 1rem;
    margin-top: 1rem;
}
/* header */
.header{
    margin: auto;
    text-align: center;
}
.hero-image{
    max-width: 70%;
    display: block;
    margin: auto;
    padding-top: 1rem;
}
.text-pop{
    color: var(--primary-color);
}
.text-nopop{
    font-weight: lighter;
}
.hero-tag{
    text-align: center;
}


/* section */
.section-1{
    text-align: center;
    background-color: var(--section-color);
    border-radius: 1rem;
    padding: 1rem 1rem;
    margin: 1rem;
}
.section{
    text-align: center;
    border-radius: 1rem;
    padding: 1rem 1rem;
    margin: 1rem;
}

.btn-full{
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--primary-color);
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
}

.btn-half{
    text-decoration: none;
    border: 1px solid var(--primary-color);
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    color: var(--primary-color);
}

.footer{
    background-color: var(--primary-color);
    display: block;
    margin: auto;
    width: 100%;
    padding-bottom: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.footer-head{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: larger;
    font-weight: bolder;
    color: var(--text-color);
}
.foot-list{
    list-style-type: none;
    text-align: center;
    padding-inline-start: 0px;
}
.foot-list-links{
    text-decoration: none;
    color:var(--text-color);
}
.foot-list-item{
    display: inline;
    padding: 1rem 1rem;
}


